.navbar {
    width: 40%;
    height: 50px;
    font-size: small;
    display: table-cell;
    vertical-align: middle;
    justify-content: space-between;
    background-color: #025696;
    padding: 1em;
    column-count: 4;
}

.list {
    display: flex;
    list-style: none;
    align-items: left;
}

.item {
    margin-right: 1em;
    color: #dcf0f9;
}

.item a {
    color: #fff;
    text-decoration: none;

}

.item a:hover {
    color: #ffbb33;
}