.title {
    text-align: left;
    position: absolute;
    font-size: 30px;
    left: 400px;
    top: 110px;
}

.container {
    position: absolute;
    left: 400px;
    top: 180px;
    border-bottom: 1px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: .5px solid;
    border-color: rgb(150, 150, 154);
    font-style: normal;
    text-align:left;
    color: rgb(118, 117, 117);
}

input {
    color: rgb(118, 117, 117);
}

.cancel {
    color: #025696;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #025696;
}

.save {
    color: #dcf0f9;
    font-weight: bold;
    background-color: #025696;
    padding: 10px;
    border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #025696;
}

.delete {
    color: #dcf0f9;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: red;
}