.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  float: left;
  margin-right: 15px;
}

.App-header {
  background-color: #025696;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
