.navbar {
    width: 40%;
    height: 50px;
    background: #025696;
    display: table-cell;
    vertical-align: top;
    font-size: small;
    color: #dcf0f9;
    column-count: 4;
}

.route {
    color: #dcf0f9;
    font-size: small;
    padding-top: 15px;
    list-style: none;
    text-align: center;
}